.maincontainer
{
    
    display: grid;
    width: 70%;
    margin: 0 auto;
        
    
    
    grid-template-rows: 160px 150px 300px 100px 100px;
 
    grid-template-columns: 50% 50% ;
    background: white;

    grid-template-areas: 
    "header1 header2"
    "main1 main1"
    "main2 main2"
    "footer1 footer1"
    "footer2 footer2";
}


#nameinput, #emailinput, #textinput, #phone
{
    appearance: none;
    margin-bottom: 20px;
    font-size: 1.5rem;
    outline: none;
    width: 100%;
    background-color:rgb(197, 193, 193);
}

#textinput
{
    height: 150px;
}

#submit
{
   appearance: none;
   background-color:rgb(197, 193, 193);
   margin-top: 5px;
   padding: 5px;
   border-radius: 5px;
   font-size: 1.5rem;
   outline: none;
   width: 100%;
}

