

#slider
{
    overflow: hidden;
}

#slider figure
{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 35s slider infinite;
    transition: all 4s;
}

#slider figure img
{
    width: 20%;
    float: left;
}

@keyframes slider
{
    0% {
        left:0;
    }
    15%{
        left: -100%;
    }
    20%{
        left: -100%;
    }
    35%{
        left: -200%;
    }
    40%{
        left: -200%;
    }
    55%{
        left: -300%;
    }
    60%{
        left: -300%;
    }
    75%{
        left: -400%;
    }
    80%{
        left: -400%;
    }
    95%{
        left: 500%;
    }
    100%{
        left: 500%;
    }
}

